@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.container-PreferencesNav {
    display: flex;
    flex-direction: column;
}

.tab-PreferencesNav {
    height: 43px;
    width: 100%;
    margin: 22px 0;
    padding: 12px 143px 12px 32px;
    border-radius: 21.5px;
}

.tab-PreferencesNav:hover {
    background-color: #c0e2ed;
}

.content-tab-PreferencesNav {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444851;
}

.fade {
    transition: opacity .15s linear;
}

* {
    box-sizing: border-box
}


body {
    font-family: "Roboto", sans-serif;
}

/* Style the tab */


.tab {
    float: left;
    width: 30%;
    height: 100%;
    /*300px */
    align-content: center;
}

/* Style the buttons inside the tab */
.tab button {
    display: flex;
    background-color: inherit;
    color: #444851;
    padding: 22px 16px;
    width: 100%;
    height: 43px;
    border: none;
    outline: none;
    text-align: left;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin-bottom: 0.5rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #c0e2ed;
    color: #045d7c;
    border-radius: 40px;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #c0e2ed;
    color: #045d7c;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 100%;
    /*300px */
}

.stepsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stepsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 165px;
    margin-top: 1rem;
}

.steps-Icon {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f1f1f1;
    width: 72px;
    height: 72px;
    border-radius: 80px;
    margin-bottom: 1rem;
    align-items: center;
}

.steps-Icon img {
    width: 42px;
    height: 42px;
}

.steps-Text {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.steps-Text h4 {
    font-size: 16px;
    color: #444851;
    font-weight: bold;
}

.steps-Text p {
    font-size: 14px;
    color: #666;
}

.toConekta {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttonToConekta {
    width: 180px;
    height: 43px;
    border-radius: 5px;
    background-color: #4966e0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonToConekta:hover {
    cursor: pointer;
    background-color: #6883ee;
    color: #fff;
}

.toConekta img {
    height: 43px;
    width: 200px;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid rgba(238, 238, 238, 0.99);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-left {
    display: flex;
    align-items: center;
}

/*.active, .accordion:hover {
   
  }*/

.panel {
    margin-top: 2rem;
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 14px;
    color: #666666;
}

.panel img {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.apiContainer {
    margin: 3rem 0;
}

.correoItemGroup {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
}

.correoItemGroupLeft {
    display: flex;
    flex-direction: column;
    width: 434px;
    flex-wrap: wrap;
}

.correoItemGroupRight {
    align-self: center;
}

.logoEmpresaContainer {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
}

.logoEmpresaImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.logoEmpresaImage img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    object-fit: contain;
    margin-bottom: 1rem;
}

.logoEmpresaDer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
}

::-webkit-file-upload-button {
    border-radius: 18px;
    width: 115px;
    height: 30px;
    background-color: #088bbd;
    color: #fff
}

.logoEmpresaDerButton {
    cursor: pointer;
    border-radius: 18px;
    width: 115px;
    height: 30px;
    background-color: #088bbd;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.logoEmpresaFactura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 91px;
    border-radius: 3px;
    border: solid 1px #eee;
}

.logoEmpresaFactura img {
    width: 135px;
    height: 91px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.bottomKeyContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bottomKeyContainer button {
    width: 90px;
    height: 30px;
    background-color: #088bbd;
    color: #fff;
    border-radius: 18px;
    cursor: pointer;
}

.bottomKeyContainer button:hover{background-color:#045d7c}


.KeyInput {
    display: flex;
    border-radius: 4px;
    margin-bottom: 2rem;

}

.KeyIcon {
    border-radius: 4px 0 0 4px;
    border: solid 1px #ccc;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.InputValid:invalid {
    border: solid 1px red;
}

.InputValid:valid {
    border: solid 1px #ccc;
}

.alreadyKey p {
    font-size: 16px;
    font-weight: 500;
    color: #045d7c;
}

.alreadyKey button {
    margin-top: 3rem;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #045d7c;
    color: #045d7c;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.alreadyKey button:hover {
    color: #fff;
    background-color: #045d7c;
    font-size: 16px;
    font-weight: 500;
}

#loadingProgressG {
    width: 243px;
    height: 10px;
    overflow: hidden;
    background-color: rgb(0, 137, 187);
    margin: auto;
    border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.loadingProgressG {
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin-left: -243px;
    animation-name: bounce_loadingProgressG;
    -o-animation-name: bounce_loadingProgressG;
    -ms-animation-name: bounce_loadingProgressG;
    -webkit-animation-name: bounce_loadingProgressG;
    -moz-animation-name: bounce_loadingProgressG;
    animation-duration: 1.69s;
    -o-animation-duration: 1.69s;
    -ms-animation-duration: 1.69s;
    -webkit-animation-duration: 1.69s;
    -moz-animation-duration: 1.69s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    width: 243px;
    height: 10px;
}



@keyframes bounce_loadingProgressG {
    0% {
        margin-left: -243px;
    }

    100% {
        margin-left: 243px;
    }
}

@-o-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -243px;
    }

    100% {
        margin-left: 243px;
    }
}

@-ms-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -243px;
    }

    100% {
        margin-left: 243px;
    }
}

@-webkit-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -243px;
    }

    100% {
        margin-left: 243px;
    }
}

@-moz-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -243px;
    }

    100% {
        margin-left: 243px;
    }
}

.toogleContainer{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #eee;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.toogleItem p
{
    font-weight: 500;
    margin-right: 1rem;
}

.toogleItem
{
    display: flex;
    align-items: flex-end;
}

.toogleItem2
{
    display: flex;
    font-weight: 500;
    margin-right: 1rem;
    align-items: center;
}

.toogleItem2 button{
    text-decoration: underline;
    border: 1px solid #fff;
    background-color: #fff;
}

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  
  .form-switch input { display: none; }
  
  .form-switch input:checked + i { background-color:#1194f6; }
  
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

  .hiddenOP{
    display: none;
  }