.container-PreferencesNav {
    display: flex;
    flex-direction: column;
}

.tab-PreferencesNav {
    height: 43px;
    width: 100%;
    margin: 22px 0;
    padding: 12px 143px 12px 32px;
    border-radius: 21.5px;
}

.tab-PreferencesNav:hover {
    background-color: #c0e2ed;
}

.content-tab-PreferencesNav {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444851;
}

.fade {
    transition: opacity .15s linear;
}

* {
    box-sizing: border-box
}


body {
    font-family: "Roboto", sans-serif;
}

/* Style the tab */


.tab {
    float: left;
    width: 30%;
    height: 100%;
    /*300px */
    align-content: center;
}

/* Style the buttons inside the tab */
.tab button {
    display: flex;
    background-color: inherit;
    color: #444851;
    padding: 22px 16px;
    width: 100%;
    height: 43px;
    border: none;
    outline: none;
    text-align: left;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin-bottom: 0.5rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #c0e2ed;
    color: #045d7c;
    border-radius: 40px;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #c0e2ed;
    color: #045d7c;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 100%;
    /*300px */
}

.stepsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stepsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 165px;
    margin-top: 1rem;
}

.steps-Icon {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f1f1f1;
    width: 72px;
    height: 72px;
    border-radius: 80px;
    margin-bottom: 1rem;
}

.steps-Text {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.steps-Text h4 {
    font-size: 16px;
    color: #444851;
    font-weight: bold;
}

.steps-Text p {
    font-size: 14px;
    color: #666;
}

.toConekta {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttonToConekta {
    width: 180px;
    height: 43px;
    border-radius: 5px;
    background-color: #4966e0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonToConekta:hover {
    cursor: pointer;
    background-color: #6883ee;
    color: #fff;
}

.toConekta img {
    height: 43px;
    width: 200px;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid rgba(238, 238, 238, 0.99);
    background-color: white;
}

/*.active, .accordion:hover {
   
  }*/

.panel {
    margin-top: 2rem;
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 14px;
    color: #666666;
}

.panel img {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.apiContainer {
    margin: 3rem 0;
}

.correoItemGroup {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
}

.correoItemGroupLeft {
    display: flex;
    flex-direction: column;
    width: 434px;
    flex-wrap: wrap;
}

.correoItemGroupRight {
    align-self: center;
}

.logoEmpresaContainer {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
}

.logoEmpresaImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.logoEmpresaImage img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    object-fit: contain;
    margin-bottom: 1rem;
}

.logoEmpresaDer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
}

.logoEmpresaDer button {
    border-radius: 18px;
    width: 115px;
    height: 30px;
    background-color: #088bbd;
    color: #fff
}

.logoEmpresaFactura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 91px;
    border-radius: 3px;
    border: solid 1px #eee;
}

.logoEmpresaFactura img {
    width: 135px;
    height: 91px;
    object-fit: contain;
    margin-bottom: 1rem;
}